{% extends '_partials/layout.njk' %}
{% block content %}
<header class="page-heading"><p class="eyebrow">{{ __('title.tag') }}</p><h1>{{ page.tag }}</h1></header>
{% include '_partials/post-list.njk' %}
{% include '_partials/pagination.njk' %}
{% endblock %}
