{% if page.total > 1 %}
<nav class="pagination" aria-label="{{ __('desk.pagination') }}">
  {{ paginator({prev_text: __('accessibility.prev_page'), next_text: __('accessibility.next_page'), mid_size: 1}) | safe }}
</nav>
{% endif %}
